.button
{
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    font-weight: bold;
    font-size: 21px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: linear-gradient(180deg, #8972fe 0%, #47004e 100%);
    text-align:center;
}

.button:active 
{
    opacity: 0.7;
}

.btOrange
{
    background: linear-gradient(180deg, #FDAE25 0%, #E83400 100%);
}

.btpurple
{
    background: linear-gradient(180deg, #8972FE 0%, #47004E 100%);
}

.btFlexResize
{
    flex:30;
}

.btDisabled 
{
  background: linear-gradient(180deg, #b0b0b0 0%, #404040 100%);
}

.btDisabled:active
{
    opacity: 1;
}