.textInput
{
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    outline: none;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Lexend Deca', sans-serif;
}

.textInput::placeholder
{
    color: #000;
}

.textInputFlexResize
{
    flex:70;
}

.textInputMarginBottom
{
    margin-bottom: 10px;
}

.textInputCenteredtext
{
    text-align:center;
}