.TextInput
{
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    color:#000;
    outline:none;
    font-weight: normal;
    font-size: 22px;
    font-family: "Lexend Deca", sans-serif;
}

.TextInput::placeholder {
    color: #000;
}