.messageBoxContainer
{
    display:flex;
    align-items:center;
    height:100%;
}

.messageBox
{
    border-radius: 30px;
    padding: 15px 12px 12px 12px;
    margin: 0;
    height: auto;
    max-height:80%;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    font-weight: normal;
    font-size: 22px;
    border: none;
    background: rgba(60, 112, 143, 0.52);
    border: 3px solid rgba(60, 112, 143, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: "Lexend Deca", sans-serif;
    scroll-snap-align: start;
    /* Aligne chaque élément au début du conteneur lors du défilement */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.messageBoxLargeHeight
{
    height:80%;
}

.messageBoxHeader
{
    width:100%
}

.messageBoxMain
{
    width:100%;
    flex-grow: 1;
    overflow: auto;
    display:flex;
    align-items:center;
}

.messageBoxFooter
{
    width:100%
}

.messageBoxMaintContentCentered
{
    width:100%;
}