.playerBox
{
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    font-weight: normal;
    font-size: 22px;
    border: none;
    background: rgba(60, 112, 143, 0.52);
    border: 3px solid rgba(60, 112, 143, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: "Lexend Deca", sans-serif;
    scroll-snap-align: start;
    /* Aligne chaque élément au début du conteneur lors du défilement */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.pbDisabled
{
    opacity: 0.4;
}

.pbLeftSide
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pbRightSide
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pbPlayerPicture
{
    height: 45px;
    width: auto;
}

.pbEye
{
    height: 30px;
}


.playerBox:active 
{
  opacity:0.8;
}

.playerBox.pbDisabled:active 
{
  opacity:0.4;
}

.pbSelected
{
    background: rgba(253, 172, 37, 0.38);
    border: 1px solid rgba(253, 172, 37, 1)
}

.pbSelected:active
{
    opacity:1;
}

.pbDashedBorder {
  border: 3px dashed rgba(60, 112, 143, 1);
  opacity: 0.5;
}

.pbDashedBorder:active
{
    opacity: 0.5;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(4px) }
 50% { transform: translateX(-4px) }
 75% { transform: translateX(4px) }
 100% { transform: translateX(0) }
}

.pbShake
{
    animation: horizontal-shaking 1s ease-in-out infinite;
}