.logo
{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Aligne chaque élément au début du conteneur lors du défilement */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
}

@media only screen and (min-width: 1200px) 
{
    .logo
    {
        width: 15%;
    }
}

.addPlayerContainer
{
    display:flex;
    gap:10px;
}