body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:0;
}

#root {
  font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  height: 100%;
  background: linear-gradient(180deg, #14033A 0%, #3C708F 100%);
  background-size: cover;
  background-position: center;
  margin:0;
  padding: 30px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background: #FDAE25;
}